In [196]:
# List is mutable
l = ['Kiwi','Banana',79.9,False,'Mahy']
n = [79,97,7,9,63,1,31]

In [197]:
print(l[0])
print(l[4])

l[2]= 97
print(l)
print(l[2])

Kiwi
Mahy
['Kiwi', 'Banana', 97, False, 'Mahy']
97

In [198]:
print(l)

['Kiwi', 'Banana', 97, False, 'Mahy']

In [199]:
l.append('Mahi')
print(l)

['Kiwi', 'Banana', 97, False, 'Mahy', 'Mahi']

In [200]:
print(l.append('Omny')) # Direct one line we can't print & append

None

In [201]:
print(n)

[79, 97, 7, 9, 63, 1, 31]

In [202]:
print("n is : ",n)

print(n.sort()) # None

n.sort()
print("Forward List :",n)
n.sort(reverse=False)
print("Forward List False :",n)
n.sort(reverse=True)
print("Reverse List :",n)

n is :  [79, 97, 7, 9, 63, 1, 31]
None
Forward List : [1, 7, 9, 31, 63, 79, 97]
Forward List False : [1, 7, 9, 31, 63, 79, 97]
Reverse List : [97, 79, 63, 31, 9, 7, 1]

In [203]:
print(l)
l.insert(4, 'Pary') # 4 means index no 4
print("l: ",l)

['Kiwi', 'Banana', 97, False, 'Mahy', 'Mahi', 'Omny']
l:  ['Kiwi', 'Banana', 97, False, 'Pary', 'Mahy', 'Mahi', 'Omny']

In [204]:
l = ['Kiwi', 'Banana', 97, False, 'Pary', 'Mahy', 'Mahi', 'Omny']
l.pop() # Omny
l.pop(0) # Kiwi
l.pop(3) # ? --> Pary

print(l)

['Banana', 97, False, 'Mahy', 'Mahi']

In [205]:
l.remove(97) # Remove function works on value not index no.
print(l)

['Banana', False, 'Mahy', 'Mahi']

In [206]:
l.extend(['Omny', 97])
print(l)

['Banana', False, 'Mahy', 'Mahi', 'Omny', 97]

In [207]:
p = [21,21,33,21,44,33,44]
p.remove(44) # It removes 1st indexing left to right
p.remove(21)
print(p)

[21, 33, 21, 33, 44]

In [208]:
print(max(p))
print(min(p))
p.clear()
# print(f'finally  is :{p}')
print(F'finally  is :{p}')

44
21
finally  is :[]

In [209]:
# Tuple is Immutable

t = (21,43,52,67,87,69,69,79,97,77,99)
print(type(t))
y = t.count(97)
print(y) # or
print(t.count(69))

v = (9,)
vv = (9)
print(type(v)) # tuple
print(type(vv)) # int

b = (21,"Mahy", False,97.9)
print( b[3] , type(b))

<class 'tuple'>
1
2
<class 'tuple'>
<class 'int'>
97.9 <class 'tuple'>

In [210]:
i = t.index(99)
print(i)

print(t.index(97))

10
8

In [ ]:
print(max(t))
print(min(t))
print(sum(t))
print(t)
print(sorted(t))
print(any(t))
print(bool(t))

99
21
760
(21, 43, 52, 67, 87, 69, 69, 79, 97, 77, 99)
[21, 43, 52, 67, 69, 69, 77, 79, 87, 97, 99]
True
True

In [ ]:
# How to convert List to Tuple
lst = [12,21,32,97]
print(lst, type(lst))

t = tuple(lst)
print(t, type(t))

[12, 21, 32, 97] <class 'list'>
(12, 21, 32, 97) <class 'tuple'>