In [1]:
a = 'Mahy Panda'
print(len(a))

10

In [23]:
c = 'Puchky Panda Previous Name Mohapatra'
n = "mahy"

# len(n)

# # indexing

# print(n, type(n))

o = 1
b = '1'
g = "0"
h = '''3'''

print(o,type(o)) # integer -- int
print(b,type(b)) # string -- str
print(g,type(g)) # 
print(h,type(h)) #

1 <class 'int'>
1 <class 'str'>
0 <class 'str'>
3 <class 'str'>

In [6]:
a=5
print(a)

c = 10
a = 2

print(c)
print(a)

5
10
2

In [70]:
# Slicing
#  
# c = 0 1 2 'Puchky Panda Previous Name Mohapatra'  -2 -1 0

# c = 'Puchky Panda Mohapatra Previous Name' # I want to print this type

# n = c [ start : (end-1) : jump  ] Formula

# v = c [ -1 : : -1 ] # Reverse Slicing
# print(c[-1])

# n = c [0 : 20 : 1] # Forward Slicing
# print(n)

# k = c [ -1 : -1 :  ]
r = c [ -1 : -5 : -2 ] # Nothing prints
print(r)
# print(k)

p = c[ -2 : -15 : -2 ]
print(p) # raao mN

c = 'Puchky Panda Previous Name Mohapatra'
b = c [ -1 : -36 : -3 ]
print(b) # aah asiraayc

at
raao mN
aah asiraayc

In [2]:
x = input(" Enter Your Husband : ")
# print(f'Your Husband Name {x}')
print("Your Husband Name " + x )

Your  Husband Name Bgu

In [2]:
# Upper & Lower Case 
v="Puchky"
y="BABA FIHGHTER"

print(v .upper())
print( y . lower())

PUCHKY
baba fihghter

In [4]:
# Capitalize
p = 'numpy'
n = 'PANDAS'

print(n.capitalize())

Pandas

In [6]:
# Pragyan
r = "butterFLY"
b ="bigyanshu "
print(b.capitalize())
print(r.capitalize())

Bigyanshu
Butterfly

In [19]:
# Starts With & Ends With
r = "butterFLY"
print(r.startswith("bu"))
print(r.endswith('ly'))
print(r.endswith("FLY"))

print("butterFLY".lower())
print(r)

butterfly
butterFLY

In [24]:
# Strip
b = " Mahy Panda "
c = " mahy Panda"
k = "Mahi Panda "

print(b.strip())
print(k.strip())
print(c.strip())

print(b)
print(c)
print(k)

Mahy Panda
Mahi Panda
mahy Panda
 Mahy Panda
 mahy Panda
Mahi Panda

In [30]:
# Replace : it takes two parameter to perform actions

b = "tuna babu"

print("Mahi Panda".replace("Mahi", "Mahy"))
print(b.replace("tuna", "Muna"))

Mahy Panda
Muna babu

In [34]:
v = 'Zookeeper vs Lion & Tiger'

print(v.split('&'))

['Zookeeper vs Lion ', ' Tiger']

In [45]:
p = 'Mahy & Mahi are the parents of my ladly Pary'

print(p.split(" my "))
print(p.split("my"))

['Mahy & Mahi are the parents of', 'ladly Pary']
['Mahy & Mahi are the parents of ', ' ladly Pary']

In [62]:
print("Bgu Mahy".split())
print("Bgu","Mahy" ,"Omny".split())
print("Bgu","Mahy".split())
print("Bgu" " Mahy".split())
print("Bgu" "Mahy".split())

['Bgu', 'Mahy']
Bgu Mahy ['Omny']
Bgu ['Mahy']
['Bgu', 'Mahy']
['BguMahy']

In [4]:
# title()
va = 'omnipotent bgu mahi'

print('nua puruna'.title())
print(va.title())
print(va.capitalize())

Omnipotent Bgu Mahi
Nua Puruna
Omnipotent bgu mahi

In [22]:
# join()
print('b'.join('Mahy')) # Each character joins
print('b'.join(['Mahy','mahi'])) # After comma or separation that joins
print('Mahyi'.join(['Mr & Mrs ', ' Panda']))

Mbabhby
Mahybmahi
Mr & Mrs Mahyi Panda

In [43]:
# find()
b = 'Bigyanshu Mahy'
# print(b. find('shu'))
# print(b[6]) # Indexing starts with 0
# print(b[7]) # Indexing starts with 0
# print(b[8]) # Indexing starts with 0

# print(len(b)) # Length starts with 1
bp = "Pragyandipti"
print("Pragyandipti". find('gyan'))

print("Pragyandipti".find("n"))
print(bp.find("t"))
print(bp[10])

3
6
10
t

In [48]:
# count()
pary = "Pragyandipti"

print(pary.count('i'))
print(pary.count('a'))
print(pary.count('n'))
print(pary.count('b'))

print('Bigyanshu'.count('b'))
print('Bigyanshu'.count('B'))

2
2
1
0
0
1

In [52]:
# format()
print('Hey, {}'.format('pary'))

# Abstring
n = 'Pary'
print(f'Hello {n}')

Hey, pary
Hello Pary

In [57]:
m = 'Butterfly'
print(f'Hello World {m}')

Hello World Butterfly

In [89]:
# isnumeric()
print('1245'.isnumeric())
print('Mahy'.isnumeric())
print(' '.isspace())
print('MAHY'.isupper())
print('mahy'.islower())
print("69".isascii())
print('9'.isdigit())
print('9.00'.isdecimal())
print('lp'. istitle())
print('Pgu Bgu Pary'. istitle())
print('puchkyk'.isprintable())

True
False
True
True
True
True
True
False
False
True
True

In [ ]:
'''

'''