In [21]:
import numpy as np
import pandas as pd

In [22]:
df = pd.read_csv(r'C:\Users\bigya\PYTHON\Chapters_Code\NumPy\Project_Employee\Employee.csv')
df.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1

In [23]:
print("Missing value in each columns :")
print(df.isnull().sum())

Missing value in each columns :
Education                    0
JoiningYear                  0
City                         0
PaymentTier                  0
Age                          0
Gender                       0
EverBenched                  0
ExperienceInCurrentDomain    0
LeaveOrNot                   0
dtype: int64

In [ ]:
# Calculating avg with mean median then fill
df['Salary (INR)'].fillna(df['Salary (INR)'].mean(), inplace=True)
df['Performance Rating'].fillna(df['Performance Rating'].median(), inplace = True)

# Filling Infinite value with NaN
df.replace([np.inf, -np.inf], np.nan,inplace = True)

df.fillna(df.mean(), inplace = True)

# Rmoving duplicate values
df.drop_duplicates(inplace= True)

# Replace -ve salary to avg salary
df['Salary (INR)'] = np.where(df['Salary (INR)'] < 0, df['Salary (INR)'].mean(),df['Salary (INR)']) 

# Handling outliner
salary_mean = df['Salary (INR)'].mean()
salary_std = df['Salary (INR)'].std()
lower_bound = salary_mean - (3 * salary_std)
upper_bound = salary_mean + (3 * salary_std)

# Removing rows where salary is too high & too low
df = df[(df['Ssalary (INR)']) >= lower_bound & (df['Salary (INR)'] <= upper_bound)]

df.to_csv ('cleaned_indian_employee_Data.csv', index = False)
print('Data cleaning completed & saved as "cleaned_indian_employee_Data.csv"')