In [2]:
dict = {
        "key": "Value",
        "Thor": 99,
        "Loki":97,
        "Odin":98,
        "Hela":99.9,
        "Friga": True,
}

dict.items()

dict_items([('key', 'Value'), ('Thor', 99), ('Loki', 97), ('Odin', 98), ('Hela', 99.9), ('Friga', True)])

In [3]:
dict.keys()

dict_keys(['key', 'Thor', 'Loki', 'Odin', 'Hela', 'Friga'])

In [4]:
dict.values()

dict_values(['Value', 99, 97, 98, 99.9, True])

In [5]:
dict.update({"Gorr":99,"Thor":100})
print(dict)

{'key': 'Value', 'Thor': 100, 'Loki': 97, 'Odin': 98, 'Hela': 99.9, 'Friga': True, 'Gorr': 99}

In [6]:
dict.get("Thor")
# dict.get(99.9) # Can't access through value
dict.get("Hela")
# dict.get("hela") # Exact character valids

99.9

In [7]:
dict.update({"Odin":98,"Odin":99.8})
print(dict)

{'key': 'Value', 'Thor': 100, 'Loki': 97, 'Odin': 99.8, 'Hela': 99.9, 'Friga': True, 'Gorr': 99}

In [8]:
# dict.pop("Friga")
dict.popitem()

('Gorr', 99)

In [9]:
print(dict)

{'key': 'Value', 'Thor': 100, 'Loki': 97, 'Odin': 99.8, 'Hela': 99.9, 'Friga': True}

In [10]:
s =()
print(type(s))
sx = {}
print(type(sx))

# Write a empty set
s = set()
print(type(s))
type(s)

<class 'tuple'>
<class 'dict'>
<class 'set'>

set

In [11]:
k = {"Ops":20,"Prod":21,"Dev":9,"QA":0,"Prod":25}
print(k)

{'Ops': 20, 'Prod': 25, 'Dev': 9, 'QA': 0}

In [12]:
l = k.copy()
print(l)
l.setdefault("Dev",10)
print(l)
l.clear()
print(l)

{'Ops': 20, 'Prod': 25, 'Dev': 9, 'QA': 0}
{'Ops': 20, 'Prod': 25, 'Dev': 9, 'QA': 0}
{}

In [13]:
s = {1,2,3,4,5,6,7,8,9,10}
print(s)

s.add(99)
print(s)

s.add(0)
print(s)

s.add(1)
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99}

In [14]:
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99}

In [15]:
k = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99,199}
s.union(k)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99, 199}

In [16]:
s.intersection(k)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99}

In [17]:
s.difference(k)

set()

In [18]:
s.issubset(k)

True

In [19]:
s.issuperset(k) # All elements of k are in s

False

In [20]:
k.issuperset(s) # All elements of s are present in k

True

In [21]:
print("S :",s)
print("K :",k)

S : {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99}
K : {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99, 199}

In [23]:
s.union(k)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99, 199}

In [ ]:
s.isdisjoint(k) # is there is common elements in both sets

False

In [30]:
k.isdisjoint(s) # is there is common elements in both sets

False

In [29]:
o = {1,2,3}
p = {9,8,0}
o.difference(p)
p.difference(o)

{0, 8, 9}

In [ ]:
k.difference(s) # {199}
s.difference(k) # set() empty set

set()

In [37]:
word = {
    'Madad': 'Help',
    'Khana': 'Food',
    'Pani': 'Water',
}
words = input('Enter What you want to Search: ')
print(word[words]) # You can only search through keys not by values or not by index & nor by inappropriate words

Food

In [ ]:
s = () # empty tuple
se = set() # empty set
print(type(s))
print(type(se))

<class 'tuple'>
<class 'set'>

In [41]:
se.add(18)
se.add('18')
se.add(18.0)
print(se, len(se))

{18, '18'} 2

In [49]:
# WAP 4 frind & their fav language in key value format

d = {} # Taking empty dictionary

fname = input('Enter Friend Name : ')
lang = input('Enter Fav Lang. : ')
d.update({fname : lang})

fname = input('Enter Friend Name : ')
lang = input('Enter Fav Lang. : ')
d.update({fname : lang})

fname = input('Enter Friend Name : ')
lang = input('Enter Fav Lang. : ')
d.update({fname : lang})

fname = input('Enter Friend Name : ')
lang = input('Enter Fav Lang. : ')
d.update({fname : lang})

print(f"Final dictionary is : {d}")

Final dictionary is : {'Mahy': 'English', 'Mahi': 'Hindi', 'Bgu': 'Hinglish'}

In [ ]:
# WAP entr 5 no from user , display their unique no.
s = set()

n1 = int(input('Enter 1st Number : '))
s.add(n1)
n2 = int(input('Enter 2nd Number : '))
s.add(n2)
n3 = int(input('Enter 3rd Number : '))
s.add(n3)
n4 = int(input('Enter 4th Number : '))
s.add(n4)
n5 = int(input('Enter 5th Number : '))
s.add(n5)

print(s) # output should be in sorted format : {1, 3, 7, 9, 21}, if u enter same no count 1 time.

{9, 21}