In [7]:
for i in range(100):
    if(i == 9 ):
        break
        # continue
    print("69")

69
69
69
69
69
69
69
69
69

In [8]:
# Multiplication Table

n = int(input('Enter No.: '))
for i in range(1,11):
    print(f'{n} * {i} = {n*i}')

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [30]:
# Greet persons whos name starts with 'S' in a list
lst = ['Mahy', 'Sahy', 'Swadhin', 'Sakht', 'Bgu','Boo']

for name in lst:
    if name.startswith('M'):
        print(f'Hello {name}, You are Welcome.')
    else:
        pass
print(f'The name {name} is not in list')

Hello Mahy, You are Welcome.
The name Boo is not in list

In [34]:
# Multiplication Table with While Loop

n = int(input("Enter No :"))
i=1

while(i < 11):
    print(f'{n} * {i} = {n*i}')
    i +=1

79 * 1 = 79
79 * 2 = 158
79 * 3 = 237
79 * 4 = 316
79 * 5 = 395
79 * 6 = 474
79 * 7 = 553
79 * 8 = 632
79 * 9 = 711
79 * 10 = 790

In [60]:
# Prime no
n = int(input("Enter a No.: "))

if n<2 :
    print(f'{n} is not prime no')
elif n % 2 == 0 or n % 3 == 0 or n % 5 == 0 | n % 7 == 0:
    print(f"{n} is not Prime No")
elif n == 2:
    print(f"{n} is Prime No.")
else:
    print(f'{n} is Prime no')

17 is Prime no

In [71]:
#  Find sum of n natural nos

n = int(input("Enter No : "))

i = 0
sum = 0
while( i <= n):
    sum += i
    i+=1
    print("No is : ",sum) 
print("Sum : ",sum)

No is :  0
No is :  1
No is :  3
No is :  6
No is :  10
Sum :  10

In [74]:
# Factorial
n = int(input("Enter a No : "))

p = 1

for i in range(1, n+1):
    p *= i
print(f'Factorial of {n} is {p}')

Factorial of 4 is 24

In [79]:
'''
  *
 ***
*****
'''
n = int(input("Enter a No: "))

for i in range(1, n+1):
    print(' '*(n-i), end=' ')
    print('*'*(2*i-1), end=" ")
    print(' ')

   *
  ***
 *****

In [81]:
n = int(input("Enter No :"))

for i in range(1, n+1):
    print('*'*i, end=' ')
    print('')

*
**
***

In [ ]:
"""
Print This type pattern

***
* *
***

"""
n = int (input('Enter a Num : '))

for i in range(1, n+1):
    if(i == 1 or i == n):
        print("*"* n, end = "")
    else:
        print("*" , end = "")
        print(" "* (n-2), end = "")
        print("*" ,end = "")
    print(" ")

****
*  .*
*  .*
****

In [ ]:
"""
Print This type pattern

  *
 * *
*****
"""
n = int(input("Enter a Num : "))

for i in range(1, n+1):
    print(" " * (n-i), end = "")
    print("*" , end="")
    print(" " * (n-i), end="")
    print("*"* (2*i-1), end="")
    print(" ")

  *  *
 * ***
******

In [83]:
''' Print this pattern

*    *
**  **
******
'''

n = int(input("Enter the number of rows: "))
for i in range (1, n+1):
    print('*' * i)
    print(' ', (n-i) * ' ', ' ' * (n-i), sep = '')
print("")

*

**

In [3]:
rows = int(input('Enter the number of rows: '))
for i in range(1, rows + 1):
    stars = '*' * i
    spaces = ' ' * (rows - i)
    print(stars + spaces + spaces + stars)

*      *
**    **
***  ***
********