In [1]:
import pandas as pd

In [15]:
d = pd.DataFrame({
    'Customer ID' : [1,2,3,4],
    'Name' : ["A","B","C","D"],
})
f = pd.DataFrame({
    "Customer ID" : [1,2,4,5],
    "Oder Amount" : [299,399,499,599]
})
print(d)
print(f)
d.shape

   Customer ID Name
0            1    A
1            2    B
2            3    C
3            4    D
   Customer ID  Oder Amount
0            1          299
1            2          399
2            4          499
3            5          599

(4, 2)

In [23]:
# Concatination of Both Table Vertically means Row wise (axis=0)
con = pd.concat([d,f], ignore_index=True, axis=0)
print(F"Concate Table is : \n{con}")

Concate Table is :
   Customer ID Name  Oder Amount
0            1    A          NaN
1            2    B          NaN
2            3    C          NaN
3            4    D          NaN
4            1  NaN        299.0
5            2  NaN        399.0
6            4  NaN        499.0
7            5  NaN        599.0

In [ ]:
# Concatination of Both Table Horizontally means Column wise (axis =1)
cons = pd.concat([f,d], ignore_index=True, axis=1)
print(F"Concate Table is : \n{cons}")
# first f table are join with 1st,2nd... column(0 index) whatever column are present
# then d table are joining after f table joining...

Concate Table is :
   0    1  2  3
0  1  299  1  A
1  2  399  2  B
2  4  499  3  C
3  5  599  4  D