In [32]:
import pandas as pd

In [33]:
data = {
    "Name" : ["Mahy", "Bgu", "Omny","Bfly","Ultra"],
    "ID" : [1,2,1,2,1],
    "Age" : [69, 69, 100,100,69],
    "City" : ["Hyderabad", "Bangalor", "Universe","Hyderabad","Bangalore"],
    "Salary" : [25000, 30000,10000,20000,10000]
}
df = pd.DataFrame(data)
print(F"DataFrame is :\n {df}\n")
# Grouping
sal_grp = df.groupby("Age")["Salary"].sum()
print(F"Salary by Group :\n{sal_grp}\n")

DataFrame is :
     Name  ID  Age       City  Salary
0   Mahy   1   69  Hyderabad   25000
1    Bgu   2   69   Bangalor   30000
2   Omny   1  100   Universe   10000
3   Bfly   2  100  Hyderabad   20000
4  Ultra   1   69  Bangalore   10000

Salary by Group :
Age
69     65000
100    30000
Name: Salary, dtype: int64

In [34]:
g = df.groupby("ID")['Age'].sum()
k = df.groupby("ID")['Age'].max()
l = df.groupby("ID")['Age'].min()
o = df.groupby("ID")['Age'].mean()

print(g)
print(k)
print(l)
print(o)

ID
1    238
2    169
Name: Age, dtype: int64
ID
1    100
2    100
Name: Age, dtype: int64
ID
1    69
2    69
Name: Age, dtype: int64
ID
1    79.333333
2    84.500000
Name: Age, dtype: float64

In [40]:
# Multiple Grouping followed by Age then ID
print(df)
multi_grp = df.groupby(['Age','ID'])['Salary'].sum()
# It follows FIFO property
print("\n",multi_grp)

    Name  ID  Age       City  Salary
0   Mahy   1   69  Hyderabad   25000
1    Bgu   2   69   Bangalor   30000
2   Omny   1  100   Universe   10000
3   Bfly   2  100  Hyderabad   20000
4  Ultra   1   69  Bangalore   10000

 Age  ID
69   1     35000
     2     30000
100  1     10000
     2     20000
Name: Salary, dtype: int64

In [39]:
# Multiple Grouping followed by ID then Age
print(df)
multi_grp = df.groupby(['ID','Age'])['Salary'].sum()
# It follows FIFO property
print("\n",multi_grp)

    Name  ID  Age       City  Salary
0   Mahy   1   69  Hyderabad   25000
1    Bgu   2   69   Bangalor   30000
2   Omny   1  100   Universe   10000
3   Bfly   2  100  Hyderabad   20000
4  Ultra   1   69  Bangalore   10000

 ID  Age
1   69     35000
    100    10000
2   69     30000
    100    20000
Name: Salary, dtype: int64